<div class="user-input">
  <%= @search %>
  <p><em>-You</em></p>
</div>
<div class="coach">
  <strong>
    <% if @search.end_with?('?') %>
      <%= 'Silly question, get dressed and go to work!'  %>
    <% elsif @search.capitalize == 'I am going to work right now!' %>
      <%= 'Great!' %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
  </strong>
  <p><em>-Your coach</em></p>
</div>
<div id="link">
  <%= link_to "Ask a new question", ask_path %>
</div>
